.container {
    width: 1000px; /*Alterar para 100% para tornar responsivo*/
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.start{
    justify-content: flex-start;

}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.min-height {
    min-height: 75%;
}